/* las imagenes tienen su tamaño total sin deformar su resolución */
img{
    width: 100%;
}
/* un background para la parte del body y que no quede tan insipida la web */
body{
    background: url(img/pictures/muro.jpg);
}

/* la zona del contenedor que se va blanca y genere un contraste con el backgorund del body */
.container{
    
    background-color: white;
}

/* los titulos que se encuentran detro de las barras adquieren el color blanco, la verdad que esta aquí por meter algo en el CSS */
.banner{
    color: white;
    
}

/* honestamente el CSS me ha quedado bastante pobre */