/* acabo de terminar con las páginas en el momento que escribo esto,
creo que he conseguido lo que tenia en mente 
aunque sinceramente le queda muchisimo trabajo
para que tenga un buen funcionamiento,
seguramente habrá muchas propiedades CSS que se me habrán escapado y no hacen absolutamente nada
espero que no te resulte muy caótico
*/


body{
    background-color:black;  
    margin:0%;
}

.portada{
    height: 100vh;
    margin: 0 auto;
    background-image: url("img/fondo/fondogrande.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    overflow: scroll;
}

.cabezado{
    margin:0 auto;
    margin-top: 2%;
    width: 70%;
    height: 10%;
    background: #f1c238;
    border: solid black 5px;
    font-family: 'Comic Neue', cursive;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.cabezado p{
    background: white;
    border: solid black;
    width: 70%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    
    
}
.texthead{
    display: inline;
}
.cabezado  > a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration:none;
    height: 30px;
    width: 100px;
    background: #1cadd7;
    border: solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    

}
.cabezado > a:hover{
    box-shadow: 0px 0px 30px 10px #1cadd7;
    background: white;

}
.cabezado > a img{
    margin-right: 5px;
    width: 1em;
    height: 1em;
}
.redes li{
    display:inline-block;
    
    
}


.redes a img{
    margin:3%;
    width: 30px;
    height: 30px;
    

}
.redes a{
    text-decoration:none;
    float: left;
    
    padding: 5px;
    opacity: .50;
}

.redes a:hover{
    opacity: 100%;
    filter:grayscale(0%);
    padding:4px;
}



.logo img{
    
    margin-left:20%;
    z-index: 2;
    transform: rotate(-20deg);
    width: 30%;
    height: 30%;
}
/*creo que en esta parte fue la que mas me costo,
intentar que las cajas se ajustasen en el centro como yo queria
primero creando un orden entre el menu y la caja de portada*/
main{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    
}
/*y despues que el menu se quedase en columna, 
basicamente lo veo hacer un flex de un flex*/
main li{
    display:flex;
    flex-direction: column;
    
    
}


main ul{
    width: min-content;
    padding: 2%;
    
    
}


main a{ 
    font-family: 'Bangers', cursive;
    text-align: center;
    text-decoration:none;
    margin-top:20%;
    color: black;
    background-color: #f1c238;
    padding: 5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: solid black 5px;
    
    
    
}

main a:hover{
    box-shadow: 0px 0px 30px 10px #f1c238;
    background-color: white;
    color: black;

}

.imgportada, .novedad{
    background-color: white;
    border: solid black 5px;
    float: right;
    padding: 2%;
    border-radius: 5px;
    
    
    
    
}

h1{
    font-family: 'Bangers', cursive;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

article > p{
    font-family: Arial, Helvetica, sans-serif;
}

a > img{
    width: 4em;
    height: 4em;
}

.formulario{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    margin:0 auto;
    margin-top: 2%;
    width: 70%;
    height: 10%;
    background: #f1c238;
    border: solid black 5px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
    align-items: center;
    
    
}

footer p{
    margin-left: 2%;
}

.contacto > a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration:none;
    height: 30px;
    width: 100px;
    background: #1cadd7;
    border: solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}

.contacto > a:hover{
    box-shadow: 0px 0px 30px 10px #1cadd7;
    background: white;

}

/*la parte de pantalla grande no tiene gran cosa, 
simplemente que la transicion del fondo no sea tan brusca,
aunque para mi gusto sigue siendo demasiado brusca*/

/* . PANTALLAS grandes . */
@media screen and (max-width: 1000px){
    .portada {
        width: 100%;
        
        
        background-size: cover;
        font-size: small;
        overflow-x: hidden;
        background-image: url("img/fondo/fondomedio.jpg");
        
    }

    .cabezado, .texthead{
        width: auto;
    }

    footer{
        width: auto;
        
    }
}

/*cuando empieza un cambio de resolución 
le di la propiedad de que cambie la imagen de fondo
la cual tiene un tamaño menor, acorde a la pantalla
y así que vaya bajando el peso para que pueda ser mas fácil
cargarla de internet
la original pesa 1.20mb que ya es bastante pienso yo
y no le quise bajar mas resolucion porque perderia calidad para una pantalla de escritorio
*/

/* . PANTALLAS MEDIANAS . */
@media screen and (max-width: 768px) {
    .portada {
        width: 100%;
        
        
        background-size: cover;
        font-size: small;
        overflow-x: hidden;
        background-image: url("img/fondo/fondomedio.jpg");
        
    }

    .cabezado, .texthead{
        width: auto;
    }

    .cabezado > a{
        height: 25px;
        width: 80px;
        border: solid black 4px;
    }

    .cabezado p{
        width: 60%;
        border: solid black 4px;
    }

    .logo{
        margin-bottom: 25%;
    }
    .logo img{
        margin:0%;
        float: left;
        
        width: 40%;
    }

    .contenido{
        margin: 0 40px 0 60px;

    }     
    .contenido{
        float:left;
    }
    .contenido main a{
        padding: 1%;
        border: solid black 4px;
        
    }

    a>img{
        width: 2em;
        height: 2em;
    }

    .imgportada{
        width: 500px;
        height: 50%;
        border: solid black 4px;
    }

    .imgportada img{
        width: 400px;
        height: 200px;
    }
    
    .imgportada a>img{
        width: 2em;
        height: 2em;
    }

    .imgportada li{
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    footer{
        width: auto;
        
    }

    /* en los cambios incluyo clases que solo existen en determinadas páginas,
    quizás lo veo un poco caótico incluirlo todo en el mismo archivo*/

    .novedad{
        background-color: white;
        border-radius: 5px;
        width: 500px;
        height: 50%;
        border: solid black 4px;
    }

    .novedad img{
        float: left;
        width: 300px;
    }
    
    
}


/* adaptar a pantallas pequeñas me ha costado bastante, 
quizás tendria que haber comenzado por aquí al editar la web 
 y fuese mas fácil ir aumentando los tamaños que disminuyendo*/

/* . PANTALLAS PEQUEÑAS . */
@media screen and (max-width: 400px) {
    .portada {
        background-image: url("img/fondo/fondopequeño.jpg");
        width: 100%;
        font-size:x-small;
        
        
    }

    .cabezado, .texthead{
        width: auto;
    }

    .cabezado > a{
        height: 25px;
        width: 80px;
        border: solid black 4px;
    }

    .cabezado p{
        width: 30%;
        border: solid black 4px;
    }

    .logo{
        margin-bottom: 25%;
    }
    .logo img{
        margin:0%;
        float: left;
        width: auto;
        width: 40%;
    }

    .contenido{
        margin: 0;

    }  

    main
    {
        margin: 0;
        float: left;
    }  

    

    .novedad{
        margin:0;
        width: 325px;

    }

    .novedad img{
        float: left;
        width: 50px;
    }
    
    .contenido main a{
        padding: 1%;
        border: solid black 4px;
        
    }

    a>img{
        width: 2em;
        height: 2em;
    }

    .imgportada{
        width: 250px;
        
        border: solid black 4px;
    }

    .imgportada img{
        width: 200px;
        height: 133px;
    }
    
    footer{
        width: auto;
        
    }

    .formulario{
        width: 250px;
    }

    /*mi conclusión sobre esto
    es que aun tengo un poco de reparo en usar subclases
    ya que con lo mas básico e tenido algo de problemas
    aunque se han solventado bien, o más o menos bien, 
    también que aún me hago un lio con algunas etiquetas y el uso las clases,
    pero de todas formas he disfrutado haciendo algo creativo 
    y a la vez de aprendizaje, con lo cual las ganas no me las quita 
    de seguir aprendiendo, aunque sinceramente creo que quise abarcar
    mas de lo que podia con este proyecto*/
}  

